<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bwg.channel.backend.authsvc.repository.mybatis.mapper.UserMapper">

    <!-- <resultMap> 정의에 따라 후처리(그룹핑) -->
    <resultMap id="loginDtoWithRoles" type="com.bwg.channel.backend.authsvc.domain.dto.LoginDto">
        <id property="usrId" column="USER_ID"/>         <!-- 그룹핑의 기준점 -->
        <result property="usrNm" column="USER_NM"/>
        <result property="positDivName" column="POSIT_DIV_NAME"/>
        <result property="deptName" column="DEPT_NAME"/>
        <result property="usrPwd" column="USER_PWD"/>
        <!-- 특정컬럼 모아서 colection에 채움 -->
        <collection property="roles" ofType="java.lang.String">
            <result column="ROLE_NAME"/>
        </collection>
    </resultMap>

    <select id="findByUsrIdAndUsrPwd" resultMap="loginDtoWithRoles">
        <![CDATA[
            /* authsvc.repository.mybatis.mapper.UserMapper.findByUsrIdAndUsrPwd(로그인 조회 with Roles) */
            SELECT
                    A.USER_ID
                    ,A.USER_NM
                    ,A.POSIT_DIV_NAME
                    ,A.DEPT_NAME
                    ,A.USER_PWD
                    ,C.ROLE_NAME
            FROM USERS A
            INNER JOIN USER_ROLES B
               ON A.USER_ID = B.USER_ID
            INNER JOIN ROLES C
               ON B.ROLE_ID = C.ROLE_ID
            WHERE A.USER_ID = #{usrId}
              AND A.USER_PWD = #{usrPwd}
        ]]>
    </select>

    <select id="findByRefreshToken" resultMap="loginDtoWithRoles">
        <![CDATA[
        /* authsvc.repository.mybatis.mapper.UserMapper.findByUsrIdAndUsrPwd(리프레시 토큰으로 조회 with Roles) */
        SELECT
            A.USER_ID
             ,A.USER_NM
             ,A.POSIT_DIV_NAME
             ,A.DEPT_NAME
             ,A.USER_PWD
             ,C.ROLE_NAME
        FROM USERS A
        INNER JOIN USER_ROLES B
           ON A.USER_ID = B.USER_ID
        INNER JOIN ROLES C
           ON B.ROLE_ID = C.ROLE_ID
        WHERE A.REFRESH_TOKEN = #{refreshToken}
        ]]>
    </select>

    <update id="updateRefreshToken" parameterType="com.bwg.channel.backend.authsvc.domain.dto.LoginDto">
        /* authsvc.repository.mybatis.mapper.UserMapper.updateRefreshToken(Refresh Token 업데이트) */
        UPDATE USERS
        SET REFRESH_TOKEN = #{refreshToken}
            ,REFRESH_TOKEN_EXPIRES_AT = #{refreshTokenExpiresAt}
         WHERE USER_ID = #{usrId}
    </update>
</mapper>